<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8">
  <title>ESP8266 Portal</title>
  <style>
    .data-ssid {
      font-weight: bold;
    }
    table {
      border-collapse: collapse;
    }
    table td {
      padding: 5px;
    }
    textarea {
      margin: 5px;
      width: 95%;
      height: 300px;
    }
    div.container {
      display: inline-block;
    }
    #error {
      color: red;
    }
  </style>
</head>
<body>
  <div id="error" style="display: none"></div>
  <div class="container">
  <h1>ESP8266 Admin</h1>
  <div style="display: table-row">
    <div style="display: table-cell; padding-right: 10px">
      <form method="post">
        <table>
          <tr>
            <th>variable</th>
            <th>set value</th>
            <th>current value</th>
          </tr>
          <tr>
            <td><label for="wifiStatus">status: </label></td>
            <td>
              <select id="wifiStatus" name="wifiStatus">
                {{> admin/blocks/wifiStatusOptions }}
              </select>
            </td>
            <td>{{data.wifiStatus}}</td>
          </tr>
          <tr>
            <td><label for="lastWifiStatus">lastConnectionStatus: </label></td>
            <td>
              <select id="lastWifiStatus" name="lastWifiStatus">
                {{> admin/blocks/lastWifiStatusOptions }}
              </select>
            </td>
            <td>{{data.lastWifiStatus}}</td>
          </tr>
          <tr>
            <td><label for="localIP">localIP: </label></td>
            <td>
              <input type="text" id="localIP" name="localIP" value="{{data.localIP}}"/>
            </td>
            <td>{{data.localIP}}</td>
          </tr>
          <tr>
            <td><label for="ssid">ssid: </label></td>
            <td>
              <input type="text" id="ssid" name="ssid" value="{{data.ssid}}"/>
            </td>
            <td>{{data.ssid}}</td>
          </tr>
          <tr>
            <td><label for="softAPssid">softAPssid: </label></td>
            <td>
              <input type="text" id="softAPssid" name="softAPssid" value="{{data.softAPssid}}"/>
            </td>
            <td>{{data.softAPssid}}</td>
          </tr>
          <tr>
            <td><label for="softAPenabled">softAPenabled: </label></td>
            <td>
              <input type="text" id="softAPenabled" name="softAPenabled" value="{{data.softAPenabled}}"/>
            </td>
            <td>{{data.softAPenabled}}</td>
          </tr>
          <tr>
            <td><label for="softAPIP">softAPIP: </label></td>
            <td>
              <input type="text" id="softAPIP" name="softAPIP" value="{{data.softAPIP}}"/>
            </td>
            <td>{{data.softAPIP}}</td>
          </tr>
          <tr>
            <td><label for="softAPClients">softAPClients: </label></td>
            <td>
              <input type="text" id="softAPClients" name="softAPClients" value="{{data.softAPClients}}"/>
            </td>
            <td>{{data.softAPClients}}</td>
          </tr>
        </table>

        <input type="submit" value="Apply"/>
      </form>
    </div>
    <div style="display: table-cell; vertical-align: top; padding-left: 10px; border-left: solid 1px gray">
      <p style="font-weight: bold">Presets: </p>
      <select id="preset-select">
      </select>
    </div>
  </div>

  <h2>Get template</h2>
  <div>
    <select id="get-template">
      {{> admin/blocks/templatesOptions }}
    </select>
    <input id="get-template-submit" type="button" value="Get template"/>
  </div>
  <div>
    <textarea id="template-content"></textarea>
  </div>
  </div>
<script>

  let error = function(message, err) {
    console.log(message, err);
    let container = document.getElementById('error');

    container.innerText = message + ". Caused by: " + err;
    container.style.display = null
  };

  let clearError = function () {
    let container = document.getElementById('error');

    container.innerText = "";
    container.style.display = 'none'
  };

  let fetchTemplate = function(name) {
    clearError();
    return fetch('/admin/template?name=' + name, {
        method: 'get'
      })
      .then(function(response) {
        if(!response.ok) {
            throw new Error('Invalid status code: ' + response.status)
        }
        return response.text();
      })
      .catch(function(err) {
        error("Fetch template error!", err);
        throw err;
      });
  };

  let setValue = function (select, value) {
      if (value === undefined) {
          return;
      }
      select.value = value;
  };

  let loadPresets = function() {
    let presets = {
        'empty': {
          'wifiStatus': '',
          'lastWifiStatus': '',
          'localIP': '',
          'ssid': ''
        },
        'fully connected, soft AP disabled': {
          'wifiStatus': 'WL_CONNECTED',
          'lastWifiStatus': 'WL_CONNECTED',
          'localIP': '192.168.0.101',
          'ssid': 'Schynet-8ghz',
          'softAPenabled': 'false',
          'softAPssid': '',
          'softAPIP': '0.0.0.0',
          'softAPClients': 0
        },
        'fully connected + soft AP': {
          'wifiStatus': 'WL_CONNECTED',
          'lastWifiStatus': 'WL_CONNECTED',
          'localIP': '192.168.0.101',
          'ssid': 'Schynet-8ghz',
          'softAPenabled': 'true',
          'softAPssid': 'NODE_MCU',
          'softAPIP': '192.168.0.1',
          'softAPClients': 1
        },
    };

    let selectDOM = document.getElementById('preset-select');

    selectDOM.innerHTML = '';

    for (let preset in presets) {
      selectDOM.innerHTML += '<option value="' + preset + '">' + preset + '</option>'
    }

    selectDOM.onchange = function(ev) {
      let presetName = ev.target.value;
      let preset = presets[presetName];

      setValue(document.getElementById('wifiStatus'), preset['wifiStatus']);
      setValue(document.getElementById('lastWifiStatus'), preset['lastWifiStatus']);
      setValue(document.getElementById('localIP'), preset['localIP']);
      setValue(document.getElementById('ssid'), preset['ssid']);

      setValue(document.getElementById('softAPenabled'), preset['softAPenabled']);
      setValue(document.getElementById('softAPssid'), preset['softAPssid']);
      setValue(document.getElementById('softAPIP'), preset['softAPIP']);
      setValue(document.getElementById('softAPClients'), preset['softAPClients']);
    }

  };

  document.getElementById('get-template-submit').onclick = function (ev) {
    var select = document.getElementById('get-template');
    var value = select[select.selectedIndex].value;
    fetchTemplate(value)
        .then(function (templateContent) {
          document.getElementById('template-content').innerText = templateContent;
        })
  };

  loadPresets();

</script>
</body>
</html>