{{> header }}
<div id="error" class="error" style="display: none"></div>
<h1 id="header-status">Loading...</h1>
<p>SSID: <span class="data-ssid"></span></p>
<p id="counter-line"><span id="counter"></span> seconds...</p>
<p>Connection status: <span id="wifi-status"></span></p>
<p id="connection-success" style="display: none">
  Device successfully connected to network <span class="data-ssid"></span>.
  Temporary network will shutdown any second soon! Disconnect from it, connect to <span class="data-ssid"></span> network,
  and go to <a target="_blank" id="local-ip"></a>
<p id="connection-failed" style="display: none">
  Timed out waiting for connection!
</p>

</p>
<script>
  var remainingSeconds = 60;
  var wifiStatus = undefined;
  var ssid = undefined;
  var timeout = false;
  var lastWifiStatus = null;
  var localIP;

  {{> fetch_status_js }}
  var fetchStatusLoop = function() {

    fetchStatus()
        .then(function (status) {
          this.wifiStatus = status.wifi.status;
          this.lastWifiStatus = status.wifi.lastStatus;
          this.ssid = status.wifi.ssid;
          this.localIP = status.wifi.localIP;

          document.getElementById('wifi-status').innerText = getStatusText(this.wifiStatus, this.lastWifiStatus);

          [].forEach.call(document.getElementsByClassName('data-ssid'), function(el) { el.innerText = ssid; });

          if (this.wifiStatus !== 'WL_CONNECTED' && !timeout) {
            setTimeout(fetchStatusLoop, 2000);
          }
        });
  };

  var connectionFailed = function () {
    document.getElementById('connection-failed').style.display = null;
    document.getElementById('header-status').innerText = "Connection failed";
    timeout = true;
  };

  var connectionSuccess = function() {
    document.getElementById('connection-success').style.display = null;
    document.getElementById('counter-line').style.display = 'none';
    document.getElementById('header-status').innerText = "Connected";

    var ipLink = "http://" + this.localIP;
    var ipAnchor = document.getElementById('local-ip');
    ipAnchor.innerText = ipLink;
    ipAnchor.href = ipLink;

  };

  var connectionIdle = function () {
    document.getElementById('header-status').innerText = "Waiting for connection..."
  };

  var getStatusText = function(cStatus, lStatus) {
      var status = cStatus;
      if (lStatus && lStatus !== cStatus) {
          status += " (" + lStatus + ")"
      }
      return status;
  };

  var tickCounter = function() {
    if (remainingSeconds < 0) {
      connectionFailed();
      clearInterval(counterTicker);
      return;
    }
    setCounter(remainingSeconds--);
    if (this.wifiStatus === 'WL_CONNECTED') {
      connectionSuccess();
      clearInterval(counterTicker);
    } else if (this.wifiStatus === 'WL_IDLE_STATUS') {
      connectionIdle();
    }
  };

  var setCounter = function(val) {
    document.getElementById('counter').innerText = val;
  };

  var counterTicker = setInterval(tickCounter, 1000);

  tickCounter();
  fetchStatusLoop();
</script>
{{> footer }}