var fetchStatusError = function(message, err) {
  console.log(message, err);
  var container = document.getElementById('fetch-status-error');

  container.innerText = message + ". Caused by: " + err;
  container.style.display = null
};

var fetchStatusClearError = function() {
    var container = document.getElementById('fetch-status-error');
    container.innerText = '';
    container.style.display = 'none'
};

var fetchStatus = function() {
  return fetch('/status', {
    method: 'get'
  })
      .then(function(response) {
        if(!response.ok) {
          throw new Error('Invalid status code: ' + response.status)
        }
        fetchStatusClearError();
        return response.json();
      })
      .catch(function(err) {
        console.log(err);
        fetchStatusError("Fetch status failed!", err);
        throw err;
      });
};
