<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8">
  <title>ESP8266 Portal</title>
  <style>
    input {
      display: block;
    }
    input[type=submit] {
      display: inline;
      margin-right: 3px;
      margin-top: 5px;

    }
    .inline {
      display: inline;
    }
    .data-ssid {
      font-weight: bold;
    }
    .centered {
      text-align: center;
    }
    .hidden {
      display: none;
    }
    .alert {
      position: relative;
      padding: .75rem 1.25rem;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: .25rem;
    }
    .alert-success {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
    }
    .error {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }
    .loading-text {
      color: gray;
      font-style: italic;
    }
    .status-table td:first-child {
      text-align: right;
      white-space: nowrap;
    }

    .status-table td:nth-child(2) {
      font-weight: bold;
    }
  </style>
</head>
<body>
