<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8">
  <title>ESP8266 Portal</title>
  <style>
    input {
      display: block;
    }
    .data-ssid {
      font-weight: bold;
    }
    .centered {
      text-align: center;
    }
    .hidden {
      display: none;
    }
    .error {
      color: red;
    }
    .loading-text {
      color: gray;
      font-style: italic;
    }
    .status-table td:first-child {
      text-align: right;
      white-space: nowrap;
    }

    .status-table td:nth-child(2) {
      font-weight: bold;
    }
  </style>
</head>
<body>
